<!doctype html>
<html ng-app="EmailApp">
  <head>
    <meta charset="utf-8">
    <title>DP Session - angularjs Gmail app</title>
    <style>
 
    </style>
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>-->
  </head>
  <body>
    <h1>DP Session - angularjs Gmail app</h1>
  </body>
</html>
